@using Oficina.AspNet;
@{
    var _veiculoApp = new VeiculoApp();
}



<!DOCTYPE html>

<html>
<head>
    <meta lang="pt-br" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veiculos</title>
    <style>

        body {
            font-family: Calibri
            font-size: 16px;
        }

        label {
            min-width: 100px;
            display: inline-block
        }

        input, select {
            min-width: 200px;
            min-height: 24px;
            margin-bottom: 5px;
        }

            input[type=submit] {
                min-width: 300px;
            }
    </style>


</head>
<body>
    <h1>Cadastro de Veículos</h1>
    <hr />
    @{
        if (IsPost)
        {
            _veiculoApp.Gravar();
            Response.Redirect("Veiculo");
        }
    }
    <form method="post">
        <label for="marca">Marca: </label>
        <select id="marca" name="marca" onchange="obterModelos(this.value)">
            <option value="">Selecione...</option>
            @foreach (var marca in _veiculoApp.Marcas)
            {
                <option value="@marca.Id" selected="@Convert.ToBoolean(marca.Id.ToString() == _veiculoApp.MarcaSelecionada)">@marca.Nome</option>
            }
        </select>
        <br />


        <label for="modelo">Modelo: </label>
        <select id="modelo" name="modelo">
            <option value="">Selecione...</option>
            @foreach (var modelo in _veiculoApp.Modelos)
            {
                <option value="@modelo.Id">@modelo.Nome</option>
            }
        </select>
        <br />


        <label for="cor">Cor: </label>
        <select id="cor" name="cor">
            <option value="">Selecione...</option>
            @foreach (var cor in _veiculoApp.Cores)
            {
                <option value="@cor.Id">@cor.Nome</option>
            }
        </select>
        <br />

        <label for="placa">Placa: </label>
        <input type="text" name="placa" id="placa" value="" />
        <br />

        <label for="ano">Ano: </label>
        <input type="text" name="ano" id="ano" value="" />
        <br />

        <label for="combustivel">Combustível: </label>
        <select id="combustivel" name="combustivel">
            <option value="">Selecione...</option>
            @foreach (var combustivel in _veiculoApp.Combustiveis)
            {
                <option value="@((int)combustivel)">@combustivel</option>
            }
        </select>
        <br />

        <label for="cambio">Cambio: </label>
        <select id="cambio" name="cambio">
            <option value="">Selecione...</option>
            @foreach (var cambio in _veiculoApp.Cambios)
            {
                <option value="@((int)cambio)">@cambio</option>
            }
        </select>
        <br />

        <label for="observacao">Observação: </label>
        <br />
        <textarea id="observacao" name="observacao" rows="10" cols="40"></textarea>
        <br />

        <input type="submit" name="gravar" value="Gravar" />

    </form>

    <script type="text/javascript">

        function obterModelos(marcaId) {
            document.location.href = "Veiculo?marcaId=" + marcaId;
        }



    </script>
</body>
</html>

